@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

.fadeInUp {
    animation: fadeInUp 1s ease-in-out;
}

.zoom {
    animation: zoom 0.5s ease-in-out;
}
